.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slide {/*親div*/
  position: relative;/*相対配置*/
  }

.slidetitle {
  position: absolute;/*絶対配置*/
  color: #fff;
  font-size: 45px !important;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  top: 60%;
  left: 30%;
  transform: translate(-70%, -30%);
  }

.slidesubtitle {
  position: absolute;/*絶対配置*/
  color: #fff;
  font-size: 25px !important;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  top: 70%;
  left: 54%;
  transform: translate(-75%, -31%);
}

.slidesubtitle2 {
  position: absolute;/*絶対配置*/
  color: #fff;
  font-size: 25px !important;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  top: 75%;
  left: 54%;
  transform: translate(-75%, -31%);
}

.slide img {
  display: block;
  height: 600px;
  margin: auto;
  width: 900px;
 }


.menu {
  color:black;
  display: inline-block;
	position: relative;
 	text-decoration: none;
}

.menu:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 3px;
	background:white;
	transform: scale(0, 1);
	transition: 0.4s;
}
.menu:hover:before {
	transform: scale(1);
}
